.quiz-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    justify-content: center;
}

.guesses-column {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    width: 40%;
    position: relative; 
}

.correct-guesses-header {
    width: 80%; 
    height: 32px; 
    border-radius: 4px; 
    background: var(--color-accent);
    font-size: 16px;
    text-align: center;
    color: #fff;
    display: flex;              
    justify-content: center;   
    align-items: center;
    font-weight: 500;
    border: 1px solid var(--color-accent);
}

.guesses {
    width: 80%;
    max-height: fit-content;
}

.guess-list {
    min-height: 100%;
    max-height: fit-content;
    border-radius: 4px; 
    background: var(--color-primary);
    border: 1px solid var(--color-secondary);
    padding-top: 4px;
    padding-bottom: 4px;
}

.incorrect-guess,
.correct-guess {
    color: var(--color-text);
    margin-top: 4px;
    margin-bottom: 6px; 
}

.correct-guess a {
    color: var(--color-text);
    text-decoration: none;
}

.correct-guess a:hover {
    text-decoration: underline;
}

.incorrect-guess:last-child,
.correct-guess:last-child {
    margin-bottom: 0; 
}

.placeholder {
    justify-self: center;
}

.incorrect-guess-text {
    padding: 10px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    margin: 2px 4px;
}

.correct-guess-text {
    padding: 10px;
    background-color: var(--color-accent);
    color: #fff;
    border-radius: 4px;
    margin: 2px 4px;
}

.incorrect-guesses-header {
    width: 80%;
    height: 32px;
    border-radius: 4px;
    background: var(--color-secondary);
    font-size: 16px;
    text-align: center;
    color: var(--color-text);
    display: flex;              
    justify-content: center;   
    align-items: center;
    font-weight: 500;
    border: 1px solid var(--color-secondary);
}